{{#if model}}

  <div class="last-row">
    {{page-numbers content=model}}
  </div>

  <table class="table main">
    <tbody>
      {{#each model as |tech|}}
        <tr class="last-row">
          <td>
            {{#link-to "search" (query-params location=tech.technique)  class=""}}{{ capitalize words=tech.technique }}{{/link-to}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <div>
    {{page-numbers content=model}}
  </div>

  {{else}}

  No hay técnicas para mostrar?

{{/if}}

{{outlet}}
